.mint {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  &__title {
    font-size: 70px;
    font-weight: 600;
    background: #cb4ee1;
    background: linear-gradient(to right, #cb4ee1 16%, #5d98eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__description {
    color: white;
    font-size: 20px;
    line-height: 1.4;
    font-size: 500;
  }
  &__not_connected {
    color: white;
    font-size: 20px;
    line-height: 1.4;
    font-size: 500;
  }

  .counter {
    padding: 30px;
    &__handlers {
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      &__input {
        outline: none;
        color: black;
        padding: 0 20px;
      }
    }
    &__mint {
      margin-top: 20px;
    }
    &__alert {
      padding: 40px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
